/*
Theme Name: Avada Child
Description: Child theme for the Avada
Author: Mark Mazzuki, Nabil Kadimi
Template: Avada
*/

body {
line-height:26px; }

#s { display:none; }

.header-v4 #header {
   padding: 20px 0px;
}

#respond {display:none}

.single-navigation.clearfix {display:none;}

.no-comments {display:none;}

input.login {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 20px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}
input.login:focus {
	border-color: #339933;
}

#main {
padding: 30px 10px 45px; }

h1 {
margin-top: -10px }

.woocommerce-result-count { display: none }

/* .tern_members_search { display:none }

.tern_members_view { display:none }

.tern_members_alpha { display:none } */

#slider-bg {
width:100%;
height: 466px;
background: #6d6e71;
left: 0px;
position:absolute;
top:195px; }

.woocommerce a.button:active,.woocommerce-page a.button:active,.woocommerce button.button:active,.woocommerce-page button.button:active,.woocommerce input.button:active,.woocommerce-page input.button:active,.woocommerce #respond input#submit:active,.woocommerce-page #respond input#submit:active,.woocommerce #content input.button:active,.woocommerce-page #content input.button:active{top:1px}.woocommerce a.button.alt,.woocommerce-page a.button.alt,.woocommerce button.button.alt,.woocommerce-page button.button.alt,.woocommerce input.button.alt,.woocommerce-page input.button.alt,.woocommerce #respond input#submit.alt,.woocommerce-page #respond input#submit.alt,.woocommerce #content input.button.alt,.woocommerce-page #content input.button.alt{background:#000;background:-webkit-gradient(linear,left top,left bottom,from(#000),to(#999));background:-webkit-linear-gradient(#000,#999);background:-moz-linear-gradient(center top,#000 0,#999 100%);background:-moz-gradient(center top,#000 0,#999 100%);border-color:#76456c;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.6)}

.woocommerce a.button.alt:hover,.woocommerce-page a.button.alt:hover,.woocommerce button.button.alt:hover,.woocommerce-page button.button.alt:hover,.woocommerce input.button.alt:hover,.woocommerce-page input.button.alt:hover,.woocommerce #respond input#submit.alt:hover,.woocommerce-page #respond input#submit.alt:hover,.woocommerce #content input.button.alt:hover,.woocommerce-page #content input.button.alt:hover{background:#999;background:-webkit-gradient(linear,left top,left bottom,from(#999),to(#000));background:-webkit-linear-gradient(#999,#000);background:-moz-linear-gradient(center top,#999 0,#000 100%);background:-moz-gradient(center top,#999 0,#000 100%);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.6)}

.portfolio-wrapper.isotope {margin-top:15px}

.post-4154.product.type-product.status-publish.hentry.first.last.instock {width:100%;}

#nav-menu1 * {font-size:19px; !important}

.tern_members_alpha {display:none}

#wrapper #nav ul li ul li a {
font: 14px/16px 'MuseoSlab500Regular', arial, helvetica, sans-serif;
}

.woocommerce-ordering {display:none;}



html, body {
padding: 0 !important;
}

#footer {
    padding: 18px 10px 12px;
    background: #282a2b;
    border-top: 1px solid #4b4c4d;
}
ul.copyright {
    list-style: none;
}
ul.copyright li a {
    color: white;
    color: rgba(255,255,255,0.7);
}
ul.copyright li a:hover {
    color: white;
    text-decoration: underline;
}
